openapi: 3.0.0
info:
  title: Example API
  description: This is the API documentation for the Example API
  version: x.y.z

servers:
  - url: http://api.symposiumhub.com/examples
    description: Production environment
  - url: http://stage-api.symposiumhub.com/examples
    description: Stage environemtn
  - url: http://dev-api.symposiumhub.com/examples
    description: Development environemtn

paths:
  /:
    get:
      summary: Returns a list of examples.
      description: Returns the full list of examples. **Warning** you might get a huge list of examples
      responses:
        '200':    # status code
          description: A JSON array of examples
          content:
            application/json:
              schema:
                type: array
                examples:
                  type: string
        '500':    # status code
          description: In case the server has an error
          content:
            application/json:
              schema:
                type: Object
                examples:
                  type: Object
    post:
      summary: Creates an Example
      description: Creates an Example in the backend
      responses:
        '201':    # status code
          description: The example was successfully created
          content:
            application/json:
              schema:
                type: Object
                example:
                  type: Object
        '500':    # status code
          description: In case the server has an error
          content:
            application/json:
              schema:
                type: Object
                examples:
                  type: Object
  /{id}:
    get:
      summary: Returns an example by ID
      description: Returns the representation of an Example
      parameters:
        - name: id
          in: path
          description: ID of the example
          required: true
          type: string
      responses:
        '200':    # status code
          description: A JSON object of an example
          content:
            application/json:
              schema:
                type: Object
                example:
                  type: Object
        '404':    # status code
          description: In case the example does not exists
          content:
            application/json:
              schema:
                type: Object
                example:
                  type: Object
